* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 0.875rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
}

input:disabled,
button:disabled {
  cursor: not-allowed;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  padding: 2rem 1rem 2rem 1rem;
}

main #right-container {
  align-self: stretch;
  flex-grow: 1;
  overflow-y: auto;
  text-align: right;
}

main #right-container ol {
  padding-left: 3.75rem;
}

main #right-container ol li {
  padding: 0 0 0.5rem 1rem;
}

h1 {
  margin-bottom: 0.75rem;
  text-align: right;
}

form fieldset#input-field {
  padding: 0.25rem 0.75rem;
}

form label {
  display: block;
}

form input,
form button[type='submit'] {
  display: block;
  width: 100%;
}

form #input-field label,
form label[for='random'],
form #number-inputs {
  margin: 0.75rem 0;
}

form #random {
  display: inline;
  width: auto;
  margin: 0;
  vertical-align: middle;
}

form #number-inputs {
  display: flex;
}

form #number-inputs label {
  flex: 1;
}

form label[for='poemcount'] {
  margin-left: 1rem;
}

form button[type='submit'] {
  padding: 0.5rem;
}

@media screen and (min-width: 90ch) {
  main {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 6rem 1rem 6rem 1rem;
  }

  main #right-container {
    flex: 0 1 70ch;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1rem;
  }
}
